# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# PyCharm / IntelliJ
.idea/

# dotenv
.env

.venv/

.env.*

# Local research notes
backend/docs/

backend/tests/data

logs/
backend/logs/
